.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #00000000; // Choose your own color here
}

.fa-ul {
  list-style-type: none;
  margin-left: var(--fa-li-margin, 2.5em);
  padding-left: 0;
}

.fa-ul>li {
  position: relative;
}

td_head {
  border: #2257A0;
  border-top: #2257A0;
  border-bottom: #2257A0;

}

tr_head {
  background-color: #2257A0;
  border-bottom: 1px solid #2257A0;
  border-top: 1px solid #2257A0;

}